description "Consul server process"
start on (local-filesystems and net-device-up IFACE=eth0)
stop on runlevel [!12345]
respawn
setuid consul
setgid consul
exec /opt/consul agent -config-dir /etc/consul.d/server -bind="{{ ansible_eth1.ipv4.address }}"